# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
/build/
/dist/
/eggs/
/*-eggs/
.eggs/
/sdist/
/wheels/
/*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml
*.cover

*.DS_Store

# Images and Annotations
images/*.png
images/*.jpg
annotations/*/*.xml
csv/*/*.csv
fine_tuned_model/*/*.h5
snapshots/events*   
snapshots/*.h5
*.mp4